.box {
    margin: 10px;
    padding: 6px 6px 6px 6px; 
    border: 3px solid #d22929;
    border-radius: 3px;
    display:inline-block;
    /* width: 20%; */
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    text-align: center;
}
h2, p, .readme-wapper {
    text-align: center;
}
h2 {
    text-decoration: underline;
    color:purple;
    text-align: center;
}

a {
text-decoration: unset;
color: green;
}

:hover {
    font: bold;
           
    }
 span{
     color: rgb(98, 0, 255);
     font-weight: bolder; 
 }
     #box1 {
         background-color: coral;
         height: 3px;
         width: 3px;
     }
     #Box2 {
         background-color: crimson;
         /* position: absolute; */
         height: 3px;
         width: 3px;
     }
     #Box3 {
         background-color: cornflowerblue;
         height: 3px;
         width: 3px;
     }
     #Box4 {
         background-color: deeppink;
         height: 3px;
         width: 3px;
     }
     .Russell{
        background-color: darkgreen;
        /* position: left; */
    }
    h1 {
        color: brown;
    }
    .Favorite {
        color: darkorange; 
    }
    .Football {
        color: aquamarine;
    }
    #Show3 {
        color: darkviolet;
    }
    #Show4 {
        color: fuchsia;
    }
    #Show5 {
        color: darkorange;
    }
    #Show2 {
        color: firebrick;
    }
    #Show1 {
        color: gold;
    }
    div{
        border: 2px solid black;
    }